/* Breadcrumbs */

.breadcrumbs-share{
  display: none;
  border-bottom: 1px solid $bg-border-grey;
  margin-bottom: 1rem;
  & > .container{
    & > .row{
      display: flex;
      align-items: baseline;
      #block-addtoanybuttons{
        margin-left: auto;
      }
    }
  }
}

.block-system-breadcrumb-block {
  margin-right: -15px;
  margin-left: -15px;
  padding: 10px 0px 15px;
  .content {
    @extend .col-sm-12;
  }
}

.breadcrumb{
  background-color: transparent;
  font-size: 1rem;
  padding: {
    top: 0px;
    bottom: 0px;
    left: 30px;
    right: 0px;
  }
  margin-bottom: 0;
  .breadcrumb-item {
    font-size: 1.1rem;
    color: $text-grey;
  }
  a{
    color: $text-grey;
    font: {
      style: normal;
      weight: bold;
      size: 1.1rem;
    }
    text-decoration: underline;
    &:hover{
      color: $text-grey;
    }
  }
  span{
    color: $text-grey;
    font-weight: bold;
    &.last{
      color: $text-color-black;
      font-style: normal;
      font-weight: normal;
    }
  }
}

.breadcrumb-item+.breadcrumb-item::before {
  display: inline-block;
  position: relative;
  padding-right: .5rem;
  content: ">";
  font-size: 1.2rem;
  top: -2.5px;
}

/**Breadcrumbs for the content without banner with image**/
body.node--type-news, body.page-view-promotional-resources-search, body.practical-resources, body.page-view-news{
  .block-system-breadcrumb-block {
    padding: 15px 0px 15px;
  }
}

@media only screen and (min-width: 576px){
  .breadcrumbs-share{
    display: block;
  }
}
