/*Estilos comunes
*****************************************/
*{
	padding: 0px;
	margin: 0px;
}

body{
	font-size: 16px;
}

input, select{
	box-shadow: none !important;
}


/*END estilos comunes
************************************************************************************/

/*Menu
****************************************/

/*End menu
************************************************************************************/
