/*Estilos comunes
*****************************************/
*{
	padding: 0px;
	margin: 0px;
}

body{
	font-size: 16px !important;//testing al finalizar quitar el important
	color: @color-text-grey;
}

input, select{
	box-shadow: none !important;
}

a{
	text-decoration: none !important;
}

h1{
	font-family: @font-family-base-2;
	font-size: 2.6em;
	border-bottom: none !important;
}

h2{
	//font-size: @font-size-base;
	color: @color-text-grey;
	font-family: @font-family-base-2;
	//font-weight: bold;
	a{
		color: @color-text-purple-darker;
		font-family: @font-family-base-2;
		font-size: @font-size1;
	}
}

h3.pane-title{
	color: @color-text-purple;
	border-bottom: 2px solid @color-text-purple;
	font-size: @font-size2-2;
	padding-bottom: 15px;
	//font-weight: bold;
	//margin-bottom: 25px;
	//margin-top: 50px;
	font-family: @font-family-base-2;
 }

h4{
	//font-size: @font-size-base;
	a{
		color: @color-text-grey;
		font-size: @font-size0-9;
	    font-weight: bold;	
	}
}

h4.pane-title{
	color: @color-text-purple;
	font-size: @font-size1-7;
	font-weight: bold;
}

h5{
	font-size: @font-size-base;
	color: @color-text-grey;
	font-weight: bold;
}

h5{
	a{
		color: @color-text-grey;
		font-weight: bold;
	}
}

.breadcrumb{
	margin-bottom: 0px;
	background-color: @color-white;
}

.h3image-promotional-materials{
    background-image: @image-map-white;
    background-position: right;
    background-repeat: no-repeat;
}

.h3image-oira-tools{
    background-image: @image-bag-purple;
    background-position: right;
    background-repeat: no-repeat;
}

.more-link{
	a{
		color: @color-see-more;
		font-weight: bold;
		font-style: italic;
		display: block;
		text-align: right;
		font-size: @font-size1;
		margin-top: 20px;
		&:before{
			content:'>';
			margin-right: 2px;
		    display: inline-block;
		    position: relative;
		    top: -1px;
		}
	}
}

a.more-link{
	color: @color-see-more;
	font-weight: bold;
	font-style: italic;
	display: block;
	text-align: right;
	font-size: @font-size1;
	margin-top: 0.5em;
	&:before{
		content:'>';
		margin-right: 5px;
	    display: inline-block;
	    position: relative;
	    top: -1px;
	}
}

.panels-flexible-row{
	padding-bottom: 25px;
}

.glyphicon-new-window{
	display: block;
	text-align: right;
}

/*Bloques de columnas*/
.views-item-columns-container{
	background-color: @color-white;
	width: 100%;
	a{
		display: block;
    	.glyphicon-new-window{
    		display: block;
    		text-align: right;
    	}
	}
}

/*Etiquetas azuler de pais e idioma*/
.field.field-name-field-country, .field-type-language-field, .field-name-field-sector {
    background-color: #10b2e4;
    display: inline-block;
    color: white;
    padding: 3px 16px;
    font-size: 0.9em;
    font-weight: bold;
    font-style: italic;
    margin-top: 1em;
    margin-right: 5px;
}

/*END estilos comunes
************************************************************************************/

/*ESTILOS HOME
********************************************************/

#block-system-main{

	//slider
	.panels-flexible-region-new-slider{
		margin-top: 35px;
		.view-id-slideshow{
			.owl-wrapper{
				.views-field-field-image{
					position: relative;
				}
				.views-field-title-field{
					position: absolute;
					width: 1140px;
					top: 45%;
					left: 10%;
					font-family: @font-family-base-2;
					font-weight: 300;
					a{
						color: @color-white;
						font-size: 1.2em;
					}
				}
				.views-field-body{
					position: absolute;
					width: 1140px;
					top: 63%;
					left: 10%;
					color: @color-white;
				}
			}
			.owl-controls.clickable{
				position: absolute;
				left: 50%;
	    		top: 95%;
	    		transform: translate(-50%, -95%);
	    		-webkit-transform: translate(-50%, -95%);
	    		.owl-page{
	    			span{
					background: @color-white !important;
					}
	    		}
			}
		}
	}
	

	//Latest news
	.panels-flexible-row-new-6{
		background-color: @color-background-light-purple;
		.panels-flexible-region-new-news_section{
			.view-display-id-attachment_1{
				border-bottom: 2px solid @color-primary-dark;
				padding-bottom: 30px;
    			padding-top: 20px;
    			margin-bottom: 20px;
    			.field-name-field-image{
    				img{
    					//width: 100%;
    					//max-height: 310px; 
    				}
    			}
    			h4{
    				a{
    					font-size: @font-size1-6;
    				}
    			}
			}
			.views-item-columns-container{
				background-color: @color-white;
				padding: 15px;
				min-height: 358px;
				
				a.more-link{
					color: @color-see-more;
					font-weight: bold;
					font-style: italic;
					display: block;
					text-align: right;
					font-size: @font-size1;
				    right: 30px;
				    bottom: 15px;
					&:before{
						content:'>';
					}
				}
			}
		}
	}

	//Promotional materials
	.panels-flexible-region-new-promotional_materials{
		.pane-promotional-materials{
			div.pane-title{
				color: @color-text-purple;
	    		font-size: @font-size1-2;
	    		font-weight: bold;
	    		margin-bottom: 14px;
	    		font-style: italic;
			}
			.view-promotional-materials{
				.views-item-columns-container{
					background-color: @color-background-light-purple;
					min-height: 320px;
				}
			}
		}

	}

	//Oira tools
	.panels-flexible-row-new-16{
		background-color: @color-background-light-purple;
		.view-display-id-block{
			border-bottom: 2px solid @color-text-purple;
			padding-bottom: 30px;
    		padding-top: 20px;
    		margin-bottom: 20px;
    		.field-name-field-image{
    			img{
    				//width: 100%;
    				//max-height: 310px; 
    			}
    		}
    		.field-name-title-field{
    			a{
    				font-size: @font-size1-6;	
    			}
    			
    		}
		}
		.view-display-id-block_1{
			.views-item-columns-container{
				background-color: @color-white;
				padding: 15px;
				a{
					display: block;
    				.glyphicon-new-window{
    					display: block;
    					text-align: right;
    				}
				}
			}
		}
		
		.pane-views.pane-tools{
			.pane-title{
				color: @color-text-purple;
	    		font-size: @font-size1-2;
	    		font-weight: bold;
	    		margin-bottom: 14px;
	    		font-style: italic;
			}

		}
	}
}







/*END HOME*/

/*ESTILOS ARTICLES
****************************************************************/
.node-type-article{
	.view-all-url{
		border-top: 2px solid @color-white;
		text-align: right;
		padding-top: 15px;
	}
	.pane-node-field-summary{
		font-weight: bold;
    	font-size: 1.2em;
    	line-height: 1.6em;
	}
	.pane-node-body{
		ul{
			margin-left: 30px;
		}
	}
	.pane-node-share-widget{
		margin: 25px 0px;
		.hwc-share-widget{
			ul{
				list-style: none;
				li.share-this-article{
					display: none;
				}
				li{
					display: inline-block;
				    background-color: red;//testing por ahora
				    width: 25px;
				    height: 25px;
				    overflow: hidden;
				}
			}
		}
	}

	.panels-flexible-row-new-10{
		padding-bottom: 0px;
		background-color: @color-primary-dark;
		margin-bottom: 10px;
		.panels-flexible-column-new-main{
			border-right: 10px solid @color-white;
			height: 244px;
		}
		#mini-panel-related_content{
			h3.pane-title{
				color: @color-white;
		    	font-size: @font-size2;
		    	border-bottom: 2px solid @color-white;
		    	padding-bottom: 15px;
		    }
		    .pane-content{
		    	a{
		    		color: @color-white;
		    		font-weight: bold;
		    		font-style: italic;
		    		margin-bottom: 15px;
		    		display: block;
		    		&:before{
					content:'>';
					margin-right: 5px;
					}
		    	}
		    }
		}
	}
	.panels-flexible-row-new-13{
		background-color: @color-background-light-purple;
		.pane-additional-resources{
			border-bottom: 2px solid @color-text-purple;
			padding-bottom: 23px;
			margin-bottom: 20px;
		}
		#additional-resources-external_url-pane{
			.view-additional-resources{
				.views-item-columns-container{
					padding: 15px !important;
				}
			}
		}
	}
}



/*END ARTICLES*/

/*WHAT'S NEW SECTION
*********************************************************************/
.page-what-is-new{
	//imagen superior articulos
	.panels-flexible-region-new-image{
		position: relative;
		.pane-node-title-field{
			margin-top: -93px;
			h1{
				color: @color-white;
				font-size: 2.6em;
				font-family: @font-family-base-2;
			}
		}
	}
	.panels-flexible-row-new-2{
		padding-top: 30px;
		background-color: @color-primary;
		.views-field-field-summary{
			padding: 15px 0px 0px 0px;
		}
	}
	.panels-flexible-row-new-3{
		background-color: @color-primary-dark;
		margin-top: 10px;
		h3.pane-title{
			color: @color-white;
			border-bottom: 2px solid @color-white;
			margin-bottom: 0px;
		}
		.views-item-columns-container{
			padding: 15px;
			margin-top: 30px;
    		min-height: 230px;
		}
		.more-link{
			a{
				color: @color-white;
			}
		}
	}
	.panels-flexible-row-new-6{
		background-color: @color-white !important;
		.views-item-columns-container{
			background-color: @color-primary;
			min-height: 538px;
			.views-field-field-image{
				min-height: 202px;//testing
			}
			.tool-teaser-content-wrapper{
				padding: 15px;
			}
		}
	}
}


/*END WHAT'S NEW*/


/*OIRA TOOLS
**************************************************************/

.page-oira-tools{
	h1{
		color: @color-text-purple-darker;
	}
	.pane-node-body{
		.field-type-text-with-summary{
			font-family: @font-family-base-2;
			font-size: 1.6em;
			margin-bottom: 30px;
		}
	}
	.panels-flexible-row-new-1{
		background: url('../images/background-two-colors.png') repeat-y 50%;
		padding-bottom: 0px;
		#hwc-practical-tool-menu-tools-form{
			div:first-child{
			    .form-group{
			    	margin-bottom: 0px;
			    }
			    #edit-left-column{
					background-color: @color-primary-dark;
					color: @color-white;
					padding-right: 30px;
					padding-top: 30px;
					position: relative;
					.form-type-textfield{
						float: left;
						margin-bottom: 15px;
						input{
							border: none;
							border-radius: 0px;
							outline: none;
							height: auto;
							padding-right: 35px;
						}

					}
					#edit-submit{
						position: absolute;
						right: 0;
						margin-right: 30px;
						color: @color-text-purple-darker;
					    border: none;
					    border-radius: 0px;
					    outline: none;
					    width: 35px;
					    line-height: 19px;
    					font-size: 1.2em;
    					padding-left: 7px;
    					overflow: hidden;
    					background-color: rgba(0,0,0,0);
						&:before{
							content: "\e003";
							font-family: "Glyphicons Halflings";
							margin-right: 30px;
						}
					}
					a.active{
						display: block;
						color: @color-white;
						margin-bottom: 10px;
						font-style: italic;
						span{
							&:before{
								color: @color-text-purple-darker;
							    padding: 1px;
							    font-size: 0.7em;
							    margin-right: 10px;
							    background-color: @color-white;
							    display: block;
							    width: 13px;
							    height: 13px;
							}
						}
					}
					#edit-field-country, #edit-field-languagevalue, #edit-field-sector{
						label{
							&:after{
								content: none;
							}
						}
					}
					.form-type-checkboxes{
						border-top: 2px solid @color-white;
						padding-top: 10px;
						clear: both;
						margin-top: 15px;

						input.form-checkbox{
							display: none;
						}
						label{
							padding-left: 0px;
							margin-bottom: 0px;
							&:first-child{
								font-family: @font-family-base-2;
								font-size: @font-size1-2;
								font-weight: normal;
								display: block;
								margin-bottom: 10px;
								cursor: pointer;
								
							}
							&:after{
								content: "\e250";
								font-family: "Glyphicons Halflings";
								margin-left: 10px;
							}
						}
						.label-row{
							&:after{
								content: "\e252";
								font-family: "Glyphicons Halflings";
								margin-left: 10px;
							}
						}

					}
					.form-item-field-sector{
						border-bottom: 2px solid @color-white;
					}
				}

				#edit-content{
					background-color: @color-primary;
					padding-bottom: 50px;
					padding-left: 30px;
					padding-top: 30px;
					border-left: 5px solid @color-white;
					#edit-sort-fieldset{
						border: none;
						border-radius: 0px;
						background-color: rgba(0,0,0,0);
						box-shadow: none;
						border-top: 2px solid @color-text-purple-darker;
						border-bottom: 2px solid @color-text-purple-darker;
						margin-bottom: 30px;
						.panel-body{
							padding-left: 0px;
							padding-right: 0px;
						}
						.sort-container{
							min-width: 210px;
							padding-left: 0px;
							label{
								font-weight: 100;
								font-size: @font-size0-9;
								&:after{
									content: ": ";
								}
							}
							#edit-sort{
								font-size: @font-size0-9;
								display: inline-block;
							    width: auto;
							    padding: 0;
							    border: none;
							    padding-bottom: 1px;
							    font-weight: bold;
							    height: initial;
							    background-color: rgba(0,0,0,0);
							}
						}
						.count-container{
							font-size: @font-size0-9;
						}
					}
					.search-page-results-wrapper{
						background-color: @color-white;
						padding: 30px;
						.node-practical-tool{
							border-top: 2px solid @color-primary-dark;
							padding:30px 0px;
							margin-right: 0px;
							margin-left: 0px;
							.col-sm-3{
								padding-left: 0px;
							}
							.field-name-title-field{
								font-size: @font-size1-4;
							}
							a.more-link{
								text-align: left;
								margin-top: 25px;
							}
						}
					}
				}
			}
		}
	}
}

	

/*END OIRA TOOLS*/