/*Estilos header
**************************************************/
.top-header{
	.header-logo{
		margin-top: 50px;
		.logo{

		}
		.eu-logo{
			width: 100px;
			margin-left: 10px;
    		display: initial;
    		margin-top: 17px;
		}
	}
	.header-sitename{
		.oira-logo{
			img{
				display: block;
				margin: 0 auto;
			}
		}
		a.sitename{
			display: block;
			text-align: center;

		}
	}
	.header-blocks{
		margin-top: 50px;
		#block-oira-blocks-oira-print-friendly{
			display: inline-block;
			float: left;
		}
		#block-text-resize-0{
			display: inline-block;
			float: left;
			#text_resize_decrease{
				margin: 0px;
				float: left;
				width: 25px;
				height: initial;
				margin-right: 5px;
			}
			#text_resize_increase{
				margin: 0px;
				float: left;
				width: 25px;
				height: initial;
				margin-right: 10px;
			}
		}
		#block-menu-block-1{
			display: inline-block;
    		float: right;
			.menu-name-menu-social-menu{
				ul{
					li{
						display: inline-block;
						margin-left: 10px;
						.introduction-title{
							display: none;
						}
						.introduction-image{
							img{

							}
						}
					}
				}
			}
		}
		#block-search-form{
			margin-top: 10px;
			margin-bottom: 10px;
			clear: both;
			display: inline-block;
			#search-block-form{
				input{
					border-radius: 0px;
					border: 2px solid @color-menu-icons;
					width: 100%;
				}
				input[placeholder]{
					color: @color-menu-icons !important;
				}
				.input-group-btn{
					button{
						border-radius: 0px;
						width: 35px;
						color: white;
						background-color: @color-menu-icons;
    					border: 1px solid @color-menu-icons;
					}
				}
			}
		}
		#block-menu-block-3{
			display: inline-block;
			.introduction-title{				
				background-color: @color-menu-icons;
    			padding: 4px 10px;
				a{
					color: @color-white;
					&:before{
						content: "\a003";
						margin-right: 10px;
					}
				}
			}
		}
		#block-lang-dropdown-language{
			display: inline-block;
			float: right;
			#lang-dropdown-select-language{
				border: 2px solid @color-menu-icons;
    			outline: none;
    			border-radius: 0px;
    			height: initial;
    			padding: 3px 3px;
    			background-color: @color-icon-purple;
    			color: @color-white;
    			width: 220px !important;
			}
		}
	}
}


/*Menu
**************************************************/
.menu-header{
	margin-top: 35px;
    margin-bottom: 25px;
    background-color: @color-menu;
	#navbar{
		margin-top: 0px;
		margin-bottom: 0px;
		background-color: rgba(0,0,0,0) !important;
    	border: none;
    	.navbar-nav{
    		width: 100%;
    		display: table;
    		margin-top: 14px;
    		li.last.leaf{
    			a{
    				border-right: none;
    			}
    		}
    		li{
    			float: initial;
    			display: table-cell;
    			//text-align: center;
    			padding: 0px;
    			color: @color-white;
				a{
					padding: 0px;
					padding-left: 0px;
					padding-right: 5px;
    				margin-right: 10px;
				}
				span{
					padding-left: 0px;
					padding-right: 15px;
					padding-top: 2px;
    				padding-bottom: 3px;
					.caret{
	    				display: none;
	    			}
				}
    			a, span{
    				color: @color-white;
    				background-color: rgba(0,0,0,0);
	    			border-right: 2px solid @color-white;
    			}
    			.dropdown-menu{
    				background-color: @color-menu;
    				border: none;
    				top: 35px;
    				padding: 0px;
   					border-radius: 0px;
    				li{
    					display: block !important;
    					a{
    						border: none;
    						padding: 5px 15px;
    						border-bottom: 2px solid white;
    					}
    				}
    			}
    		}
    	}
	}
}


/*Iconos
**************************************************/
//print icon
.gly-2x {
  font-size: 1.35em;
}
.glyphicon-print:before {
    content: "\e045";
}

/*End estilos header
**************************************************/