@media only screen and (max-width : 480px) {

/*HEADER
***********************************************/
.top-header{
	margin-top: 15px;
	.header-logo{
		margin-top: 0px;
		.logo{
			img{
				width: 124px;
			}
		}
		img.eu-logo{
			width: 35px;
			margin-left: 12px;
    		margin-top: 18px;
		}
		.navbar-btn{
			margin-top: 0px;
		}
	}
	.header-sitename{
		padding-left: 0px;
		.oira-logo{
			img{
				width: 84px;
			}
		}
	}
	.header-blocks{
		top: 70px;
		.region-header-block{

		}
	}
}
/*END HEADER*/


}

@media only screen and (max-width : 560px) {

	.oira-tools-search-page .field.field-name-field-country,
	.page-promotional-resources-search .field.field-name-field-country,
	.page-search-site .field.field-name-field-country,
	.oira-tools-search-page .field-type-language-field,
	.page-promotional-resources-search .field-type-language-field,
	.page-search-site .field-type-language-field,
	.oira-tools-search-page .field-name-field-sector,
	.oira-tools-search-page .field-name-field-sector-category,
	.page-promotional-resources-search .field-name-field-sector,
	.page-promotional-resources-search .field-name-field-sector-category,
	.page-search-site .field-name-field-sector,
	.page-search-site .field-name-field-sector-category,
	.oira-tools-search-page .field-name-field-promotional-material-type,
	.page-promotional-resources-search .field-name-field-promotional-material-type,
	.page-search-site .field-name-field-promotional-material-type,
	.oira-tools-search-page .field-name-pr-language,
	.page-promotional-resources-search .field-name-pr-language,
	.page-search-site .field-name-pr-language {
	    width: 100%;
		margin-bottom: 5px;
	}


}
