@media only screen and (max-width : 767px) {

/*HEADER
***********************************************/
.top-header{
	.header-logo{
		margin-top: 40px;
		.logo{
			img{
				width: 190px;
			}
		}
		img.eu-logo{
			width: 47px;
			margin-left: 15px;
    		margin-top: 39px;
		}
	}
	.header-sitename{
		.oira-logo{
			img{
				width: 145px;
			}
		}
		.sitename{
			display: none !important;
		}
	}
	.header-blocks{
		margin-top: 0px;
		position: absolute;
		right: 0px;
		top: 139px;
		z-index: 2;
		.region-header-block{
			#block-menu-block-5{
				display: none;
				position: absolute;
				bottom: 0px;
				right: 0px;
				margin-right: 15px;
				.introduction-image{
					img{
						width: 29px;
					}
				}
				.introduction-title{
					display: none;
				}
			}
			#block-search-form{
			    position: absolute;
			    margin-left: 20px;
	    		top: 0;
	    		right: 0;
	    		margin-top: 0px;
	    		margin-right: 0px;

	    		input{
	    			display: none;
	    			height: 29px !important;
	    			width: 80% !important;
	    		}
	    		button{
	    			height: 29px;
	    			width: 29px;
	    			margin-right: 10px;
	    			float: right;
	    			background-color: rgba(255,255,255,0) !important;
	    		}
			}
			#block-menu-block-3{
				display: inline-block;
	    		margin-bottom: 0px;
	    		margin-right: 25px;
	    		width: 30px;
	    		height: 30px;
	    		overflow: hidden;
	    		.introduction-title{
	    			a{
						padding-left: 9px;
						background-color: rgba(255,255,255,0) !important;
	    			}
				}
			}
			#block-lang-dropdown-language{
				margin-right: 15px;
				float: left;
				position: absolute;
			    top: 0;
			    right: 63px;

				#lang-dropdown-select-language{
					width: auto !important;
					background-color: @color-menu;
					border: none;
				}
			}
		}
	}
}
/*END HEADER*/

.breadcrum-container{
	display: none;
}

.node-type-article{
	.article-content-container {
    	width: inherit;
	}
}


}