@media only screen and (max-width : 1199px) {

/*HEADER
***********************************************/
.top-header{
	.header-logo{
		margin-top: 62px;
		.logo{
			img{
				width: 213px;
			}
		}
		img.eu-logo{
			width: 65px;
			margin-left: 15px;
			margin-top: 36px;
		}
	}
	
}
//menu
.menu-header{
	#navbar{
		.navbar-nav{
			font-size: 0.95em;
			li.first.leaf{
				top: 0px;
				a{
					top: -2px;
					img{
						height: 18px;
					}
				}
			}
			&>li.first.leaf{
				padding-right: 8px;
    		}
			li{
				padding-left: 5px;
    			padding-right: 5px;
				.dropdown-menu{
					top: 22px;
					padding-top: 13px;
				}
			}
		}
	}
	

}
/*END HEADER*/

/*HOME
********************************************/

/*END HOME*/

/*OIRA TOOLS
**************************************/
.page-oira-tools{
	#hwc-practical-tool-menu-tools-form{
		div:first-child {
			#edit-content {
				.search-page-results-wrapper {
					.node-practical-tool {
						.field-name-tools-see-more {
    						margin-left: 170px !important;
    					}
    					.related-partners-1 > div{
							margin-left: 184px !important;
						}
    				}
    			}
    		}
    	}
	}
}
/*END OIRA TOOLS*/

/*PROMOTIONAL RESOURCES
***************************************************/
.page-promotional-resources-search{
	.panels-flexible-row-page-promotional-materials-search.panels-flexible-row-last{
    	#oira-promotional-material-search-form {
    		div:first-child{ 
    			#edit-content{ 
    				.search-page-results-wrapper{
    					.node-promotional-material{
    						.field-name-tools-see-more{
    							a.more-link{
									margin-left: 156px !important;
    							}
    						}
    						.related-partners-1 > div{
								margin-left: 170px !important;
							}
    					}
    				}
    			}
    		}
    	}
	}
}
/*END PROMOTIONAL RESOURCES*/

/* QUICKTABS FOR COUNTRY DETAIL AND PARTNER DETAIL
***********************************************************/
div[id*="quicktabs-container-view__country_partner_content__block"]{
	.quicktabs-tabpage{
		.node-practical-tool, .node-promotional-material, .node-strategic-documentation{
			.field-name-tools-see-more{
				margin-left: 258px !important;
			}
			.related-partners-1 > div{
				margin-left: 273px !important;
			}
		}
		.node-promotional-material{
			.field-name-tools-see-more{
				margin-left: 243px !important;
			}
			.related-partners-1 > div{
				margin-left: 258px !important;
			}
		}
	}
}
/*END QUICKTABS FOR COUNTRY DETAIL AND PARTNER DETAIL*/


/*WHAT'S NEW SECTION
*********************************************************************/
.page-what-is-new{
	.panels-flexible-row-new-6{
		.panels-flexible-region-new-new_tools{
			.view-id-tools{
				.views-item-columns-container{
					min-height: 598px;
					.views-field-field-image{
						min-height: 202px;//testing
						img[alt="tools_default.png"]{
							max-height: 225px;//testing
						}
					}
				}
			}
		}
	}
}



}