@media only screen and (max-width : 991px) {

/*HEADER
***********************************************/
.top-header{
	.header-logo{
		margin-top: 0px;
		.logo{
			img{
				width: 213px;
			}
		}
		img.eu-logo{
			width: 60px;
			margin-left: 9px;
    		margin-top: 39px;
		}
	}
	.header-sitename{
		.oira-logo{
			img{
				width: 145px;
			}
		}
	}
	.region-header-block{
		#block-text-resize-0{
			display: none;
		}
		#block-oira-blocks-oira-print-friendly{
			display: none;
		}
		#block-menu-block-1{
			display: none;
		}
		#block-menu-block-5{
			position: absolute;
			bottom: 0px;
			right: 0px;
			margin-right: 14px;
			width: inherit;
    		top: 46px;
			.introduction-image{
				img{
					width: 29px;
				}
			}
			.introduction-title{
				display: none;
			}
		}
		#block-search-form{
		    position: absolute;
    		top: 0;
    		margin-top: 0px;
    		margin-right: 15px;
    		right: 0;
    		input{
    			display: none;
    			height: 29px !important;
    			width: 127px !important;
    		}
    		button{
    			height: 29px;
    			width: 29px;
    			float: right;
    		}
    		.input-search-display{
				width: 30px;
				height: 30px;
				background-color: red;
				position: absolute;
				right: 0px;
				top: 0px;
				display: block;
				z-index: 1000;
				opacity: 0;
				cursor: pointer;
			}
		}
		#block-menu-block-3{
			display: block;
    		clear: both;
    		margin-bottom: 15px;
    		margin-right: 40px;
    		max-width: 117px;
		}
		#block-lang-dropdown-language{
			margin-right: 40px;
			#lang-dropdown-select-language{
				width: 117px !important;
			}
		}
	}
}
/*END HEADER*/
//menu
.navbar-header {
      float: none;
}
.navbar-left,.navbar-right {
  float: none !important;
}
.navbar-toggle {
  display: block;
}
.navbar-collapse {
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.navbar-collapse.collapse {
  display: none!important;
}
.navbar-nav {
  float: none!important;
  margin-top: 7.5px;
}
.navbar-nav>li {
  float: none;
}
.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.collapse.in{
  display:block !important;
}
#navbar{
	button.navbar-toggle{
		float: left;
	}
}

/*MENU
**************************************************/
.menu-header{
	margin-top: 10px;
    background-color: @color-menu;
    font-family: @font-family-base-2;
	#navbar{
		margin-top: 0px;
		margin-bottom: 0px;
		background-color: rgba(0,0,0,0) !important;
    	border: none;
    	.navbar-collapse{
    		border: none;
    		width: 100%;
    		padding-right: 0px;
    		padding-left: 0px;
    		padding-top: 15px;
    		padding-bottom: 15px;
    		clear: both;
    	}
    	.navbar-toggle{
    		border-color: @color-menu;
    		&:focus{
    			background-color: @color-menu-hover;
    		}
    		&:hover{
    			background-color: @color-menu-hover;
    		}
    		.icon-bar{
    			background-color: @color-white !important;
    		}
    	}
    	.navbar-nav{
    		width: 100%;
    		margin-top: 15px;
    		margin: 0px;
    		font-size: 1em;
    		li.last.leaf{
    			a{
    				border-right: none;
    			}
    		}
    		&>li.first.leaf{
				top:-3px;
				text-align: center;
    		}
    		li{
    			float: initial;
    			display: block;
    			//text-align: center;
    			padding: 10px 0px;
    			color: @color-white;
    			text-align: left;
    			border-bottom: 1px solid #37d0ff;
    			border-right: none;
    			&:last-child{
    				border-right: none;
    				border-bottom: none;
    			}
    			.dropdown-toggle{
    				&:after{
						content:"\e250";
			    		font-family: "Glyphicons Halflings";
			    		padding-left: 10px;
					}
    			}
    			.down-arrow{
    				&:after{
						content:"\e252";
			    		font-family: "Glyphicons Halflings";
			    		padding-left: 10px;
					}
    			}
				a{
					padding: 0px;
					padding-left: 0px;
					padding-right: 0px;
    				margin-right: 0px;
				}
				span{
					padding-left: 0px;
					padding-right: 0px;
					padding-top: 2px;
    				padding-bottom: 3px;
					.caret{
	    				display: none;
	    			}
				}
    			a, span{
    				color: @color-white;
    				background-color: rgba(0,0,0,0);
	    			//border-right: 2px solid @color-white;
    				padding-bottom: 0px;
    				display: block;
    			}
    			.dropdown-menu{
    				background-color: @color-menu;
    				border: none;
    				padding: 0px;
    				padding-top: 0px;
   					border-radius: 0px;
					display: block;
					position: relative !important;
					float: none;
					box-shadow: 0 6px 12px rgba(0, 0, 0, 0);
					margin-left: 20px;
					margin-bottom: 10px;
					top: 10px;
    				li{
    					display: block !important;
    					border-right: none;
    					border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    					padding-top: 5px;
    					display: block;
    					padding-bottom: 5px;
    					&:last-child{
    						border: none;
    					}
    					&:hover{
							background-color: darken(@color-see-more, 1);
    					}
    					a{
    						border: none;
    						padding: 0px;
    						color: #05465a;
    					}
    				}
    			}
    		}
    	}
	}
}
/*END MENU*/
/*FOOTER
********************************************/
.site-footer{
	#block-menu-menu-footer-menu{
		display: block;
		margin-bottom: 7px;
		li{
			margin-bottom: 10px;
			a{
				color: @color-white;
				padding: 0px; 
				padding-left: 10px;
				padding-right: 10px;
				border-left: 2px solid;
				border-radius: 0px;
			}
		}
		.first{
			a{
				padding-left: 0px; 
				border-left: none;	
			}
			
		}
	}
	#block-menu-block-2{
		width: 200px;
    	float: inherit;
    	
	}
	.menu-block-2{
		float: left;
		.menu{
			.introduction-title{
				display: none;
			}

			li{
				display: inline-block;
				margin-left: 0px;
				margin-right: 10px;
			}
		}
	}
}
/*END FOOTER*/

/*GENERIC STYLES
****************************************************************/
.panels-flexible-row{
	padding-bottom: 10px;
}
/*end generic styles*/
.breadcrum-container{
	width: 640px;
    margin: 0 auto;
    position: relative;
    display: block;
    margin-top: -44px;
	.breadcrumb{
		background-color: inherit !important;
		span, a{
			color: @color-white !important;
		}
	}
}

/*HOME
****************************************************************/
.front{
	.panels-flexible-region-new-slider{
		
	}
	.views-item-columns-container{
		margin-bottom: 30px;
	}
	.more-link{
		a{
			margin-top: 0px;
		}
	}
	.views-view-grid.cols-3 > .row > div:nth-child(3){
		display: none;
	}
}
/*END HOME*/

/*WHAT'S NEW SECTION
*********************************************************************/
.page-what-is-new{
	.panels-flexible-row-new-3{
		.panels-flexible-region-new-latest_news{
			.views-view-grid{
				.row-2{
					display: none;
				}
			}
			.views-item-columns-container{
				min-height: 297px;
			}
		}
	}
	.panels-flexible-region-new-image {
		margin-top: 35px;
		.pane-node-title-field {
		    margin-top: -7px;
		    position: relative;
		    background-color: @color-primary-dark;
		    width: 100%;
		}
	}
	.panels-flexible-row-new-2{
		padding-left: 0px;
		padding-right: 0px;
		.views-field-field-summary {
    		padding: 15px 0px 0px 0px;
		}
	}
	.panels-flexible-region-new-image{
		.pane-node-title-field{
			h1 {
			    width: 715px;
		    	margin: 25px auto;
    		}
    	}
	}
	.panels-flexible-row-new-6{
		.panels-flexible-region-new-new_tools{
			.view-id-tools{
				.views-view-grid.cols-3 > .row > div:nth-child(3){
					display: none;
				}
				.views-item-columns-container{
					min-height: 591px;
				}
			}
		}
	}
}
/*END WHAT'S NEW SECTION*/


/*ARTICLES
****************************************************************/
.node-type-article{
	h1 {
		margin-top: 40px;
	}
	.article-content-container{
		padding-left: 15px;
		padding-right: 15px;
		width: 750px;
	}
	.panels-flexible-region-new-cover_image{
		.field-type-image {
		    margin-top: 35px;
		}
	}
	.panels-flexible-row-new-10{
		.container{
			//padding-right: 0px;
			//padding-left: 0px;
		}
	}

	#mini-panel-related_content{
		> div > div {
			.col-md-10{
				width: 750px;
    			margin: 0 auto;
			}
		}	
	}
	//ADITIONAL RESOURCES
	.panels-flexible-region-new-add_res-inside{
		.pane-node-field-aditional-resources{
			.pane-additional-resources{
				.views-view-grid.cols-3 > .row{
					display: none;
				}
				.views-view-grid.cols-3 .row:nth-child(1){
					display: block !important;
				}
				.views-view-grid.cols-3 .row > div{
					display: none;
				}
				.views-view-grid.cols-3 .row > div:nth-child(1){
					display: block;
				}
				.views-view-grid.cols-3 .row > div:nth-child(2){
					display: block;
				}
			}
			#additional-resources-flickr-pane{
				.view-additional-resources{
					> div{
						article:nth-child(2){
							display: none;
						}
						article{
							.flickr-photoset{
								.flickr-wrap{
									width: 33%;
								}
								.flickr-wrap:nth-child(4){
									display: none;
								}
								.flickr-wrap:nth-child(5){
									display: none;
								}
							}
						}
					}
				}
			}
		}
	}
	//END ADITIONAL RESOURCES
}
/*END ARTICLES*/

/* COUNTRY PROFILE
********************************************************************/
.page-country-profile{
	.panels-flexible-row-new-main-row-inside.panels-flexible-row-inside-first{
		margin-top: 15px;
	}
}
.partners-no-1{
	margin-bottom: 0px;
}
div[id ^= "mini-panel-partner_in_"]{
	.panels-flexible-row-new-1{
		//border-bottom: 2px solid @color-text-purple-darker;
	}
	.panels-flexible-row-first{
		border-bottom: 2px solid @color-text-purple-darker;
		.panels-flexible-row-inside-first{
			margin-top: 0px !important;
			border-bottom: none;
			padding-bottom: 0px;
		}
	}
	.partner-contact-container{
		margin-top: 20px;
		min-height: 340px;
		border-bottom: 2px solid @color-text-purple-darker;
	}
	.partner-social-container{
		margin-top: 20px;
		min-height: 340px;
		border-bottom: 2px solid @color-text-purple-darker;
	}
	.partner-colaborators-container{
		
		.field-name-field-collaborator{
			margin-top: 20px;
			>div.field-items{
				>div.field-item{
					.field-name-field-collaborator-name{
						font-size: @font-size0-8;
					}
				}
			}
		}
	}
	.partner-text2-container{
		margin-top: 20px;
	}
}
//when have 2 partners in a country
.partners-no-2{
	margin-top: 30px;
	border-bottom: 2px solid @color-primary-dark;
	margin-bottom: 40px;
	.country-partner-wrapper{
		&:last-child{
			margin-bottom: 30px;
		}
		div[id ^= "mini-panel-partner_in_country"]{
			margin: 0px 20px;
			div[class*="col-sm"]{
				padding-right: 0px;
				padding-left: 0px;
			}
			.panels-flexible-row-new-1{
				border-bottom: none;
			}
			h2{
				border-bottom: none !important;
			}
			.panels-flexible-row-inside-first{
				margin-left: 0px;
    			margin-right: 0px;
				.partner-text-container{
					h2{
						border-bottom: 2px solid @color-primary-dark;
						padding-bottom: 20px;
					}
				}
			}
			.panels-flexible-row-new-1-inside{
				> div{
					width: 100%;
				}
				.partner-contact-container, 
				.partner-social-container, 
				.partner-colaborators-container, 
				.partner-text2-container{
					min-height: auto;
					margin-top: 0px;
					border-bottom: none;
				}
				.pane-contact-information-partner,
				.pane-node-field-social-profile,
				.pane-node-field-collaborator{
					border-bottom: 2px solid @color-primary-dark;
					padding-top: 15px;
					padding-bottom: 15px;
				}
			}
		}
	}
	.focal-poin-partner-text{
		padding-left: 15px;
		padding-right: 15px;
	}
}
/*END COUNTRY PROFILE*/

/* Countries with more than two partners
*************************************************/
.more-than-two-partners{
	div[id^="mini-panel-partner_in_country"]{
		.panels-flexible-row-new-main-row-inside.panels-flexible-row-inside-first{
			border-top: 2px solid @color-primary-dark;
			padding-top: 15px;
			padding-bottom: 15px;
		}
		.partner-contact-container,
		.partner-social-container,
		.partner-colaborators-container,
		.partner-text2-container {
			
		}
		.pane-contact-information-partner,
		.pane-node-field-social-profile,
		.pane-node-field-collaborator,
		.pane-taxonomy-term-field-ncw-fp-link{

		}
	}
}
/*END EU LEVEL COUNTRY*/

/*OIRA TOOLS, PROMOTIONAL RESOURCES, GENERAL SEARCH (FILTERS)
**************************************************************************/
.page-oira-tools,
.page-promotional-resources-search,
.page-search-site,
.page-node-collaboration-area {
	.panels-flexible-row-new-1,
	.panels-flexible-row-page-promotional-materials-search.panels-flexible-row-last,
	.oira-search-form-container {
		background: none;
    	background-color: @color-primary;
    	padding-bottom: 0px;
    	#edit-left-column{
			position: absolute !important;
			z-index: 1;
			padding-left: 30px;
			margin-left: 15px;
			margin-top: 20px;
			padding-bottom: 15px !important;
			display: none;
			> a{
				clear: both;
			}
			.form-type-textfield{
				width: 100% !important;
			}
			.toggle-search-sidebar{
				display: block !important;
				span{
					height: 20px;
					width: 20px;
					overflow: hidden;
					display: block;
					float: right;
					margin-top: 10px;
					cursor: pointer;
					&:before{
						content: "\e253";
					    font-family: "Glyphicons Halflings";
					    font-size: @font-size1-2;
					    color: @color-white;
					    margin-left: 0px;
					    margin-right: 20px;
					    line-height: 0px;
					}
				}
			}
    	}
    	#edit-content{
			padding-left: 15px !important;
			border-left: 0px !important;
			padding-bottom: 40px !important;
			padding-top: 80px !important;
			.results-for{
				position: absolute;
			    top: 11px;
			    left: 67px;
			}
			.toggle-search-sidebar{
				position: absolute;
				top: 20px;
				span{
					height: 40px;
					width: 40px;
					overflow: hidden;
					background-color: @color-primary-dark;
					display: block;
					cursor: pointer;
					&:before{
						content: "\e003";
					    font-family: "Glyphicons Halflings";
					    font-size: @font-size1-3;
					    color: @color-white;
					    margin-left: 10px;
					    margin-right: 20px;
					    line-height: 40px;
					}
				}
			}
    	}
	}
}
/*END OIRA TOOLS, PROMOTIONAL RESOURCES, GENERAL SEARCH (FILTERS)*/

/*OIRA TOOLS
**************************************/
.page-oira-tools{
	#hwc-practical-tool-menu-tools-form{
		div:first-child {
			#edit-content {
				.search-page-results-wrapper {
					.node-practical-tool {
						.field-name-tools-see-more {
    						margin-left: 180px !important;
    					}
    					.related-partners-1 > div{
							margin-left: 195px !important;
						}
    				}
    			}
    		}
    	}
	}
}
/*END OIRA TOOLS*/

/*PROMOTIONAL RESOURCES
***************************************************/
.promotional-introduction-item{
	min-height: 475px;
}
.page-promotional-resources-search{
	.panels-flexible-row-page-promotional-materials-search.panels-flexible-row-last{
    	#oira-promotional-material-search-form {
    		div:first-child{ 
    			#edit-content{ 
    				.search-page-results-wrapper{
    					.node-promotional-material{
    						.field-name-tools-see-more{
    							a.more-link{
									margin-left: 166px !important;
    							}
    						}
    						.related-partners-1 > div{
								margin-left: 180px !important;
							}
    					}
    				}
    			}
    		}
    	}
	}
}
/*END PROMOTIONAL RESOURCES*/

/*PARTNER DETAIL PAGE
**********************************/
.node-type-partner{
	#block-system-main{
		> div{
			> div{
				margin-top: 30px;
			}
		}
	}
}
/*END PARTNER DETAIL PAGE*/

/* QUICKTABS FOR COUNTRY DETAIL AND PARTNER DETAIL
***********************************************************/
div[id*="quicktabs-container-view__country_partner_content__block"]{
	margin-top: 30px;
	.quicktabs-tabpage{
		.node-practical-tool, .node-promotional-material, .node-strategic-documentation{
			.field-name-tools-see-more{
				margin-left: 203px !important;
			}
			.related-partners-1 > div{
				margin-left: 218px !important;
			}
			.group-center{
				display: inline-block;
				width: 100%;
			}
		}
		.quicktabs-views-group{
			.field-name-related-partners{
				clear: both;
			}
			h3{
				font-size: @font-size1-8 !important;
			}
		}
		.node-promotional-material{
			.field-name-tools-see-more{
				margin-left: 190px !important;
			}
			.related-partners-1 > div{
				margin-left: 203px !important;
			}
		}
	}
}
/*END QUICKTABS FOR COUNTRY DETAIL AND PARTNER DETAIL*/

//partners and countries nav-bar
.quicktabs-tabs-container{
	position: absolute;
	display: none; //testing
	margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 720px;
    min-width: 290px;
    z-index: 1;
    margin-top: 0px;
    ul.quicktabs-tabs.container{
    	    margin-right: inherit;
		    margin-left: inherit;
		    padding-left: 0px;
		    padding-right: 0px;
		    width: inherit;
		    margin-bottom: 0px;
    }
	ul.quicktabs-tabs > li{
		display: block;
		margin-right: 0px;
		padding: 0px;
		&:hover{
			ul{
				display: none !important;
			}
		}
		ul{
			display: none !important;
		}
		.tab-title-show-all{
			&:before{
				content: "";
				background: url("../images/icons/show-all-icon-w.png") no-repeat;
				background-size: 100%;
			    display: inline-block;
			    width: 25px;
			    height: 25px;
			    vertical-align: middle;
			    margin-right: 10px;
			}
			&:hover{
		    	&:before{
					content: "";
					background: url("../images/icons/show-all-icon-p.png") no-repeat;
					background-size: 100%;
				    display: inline-block;
				    width: 25px;
				    height: 25px;
				    vertical-align: middle;
				    margin-right: 10px;
				}
		    }
		}
		.tab-title-news{
			&:before{
				content: "";
				background: url("../images/icons/news-icon-w.png") no-repeat;
				background-size: 100%;
			    display: inline-block;
			    width: 25px;
			    height: 25px;
			    vertical-align: middle;
			    margin-right: 10px;
			}
			&:hover{
		    	&:before{
					content: "";
					background: url("../images/icons/news-icon-p.png") no-repeat;
					background-size: 100%;
				    display: inline-block;
				    width: 25px;
				    height: 25px;
				    vertical-align: middle;
				    margin-right: 10px;
				}
		    }
		}
		.tab-title-practical_tool{
			&:before{
				content: "";
				background: url("../images/icons/tools-icon-w.png") no-repeat;
				background-size: 100%;
			    display: inline-block;
			    width: 25px;
			    height: 25px;
			    vertical-align: middle;
			    margin-right: 10px;
			}
			&:hover{
		    	&:before{
					content: "";
					background: url("../images/icons/tools-icon-p.png") no-repeat;
					background-size: 100%;
				    display: inline-block;
				    width: 25px;
				    height: 25px;
				    vertical-align: middle;
				    margin-right: 10px;
				}
		    }
		}
		.tab-title-promotional_material{
			&:before{
				content: "";
				background: url("../images/icons/promotional-resources-icon-w.png") no-repeat;
				background-size: 100%;
			    display: inline-block;
			    width: 25px;
			    height: 25px;
			    vertical-align: middle;
			    margin-right: 10px;
			}
			&:hover{
		    	&:before{
					content: "";
					background: url("../images/icons/promotional-resources-icon-p.png") no-repeat;
					background-size: 100%;
				    display: inline-block;
				    width: 25px;
				    height: 25px;
				    vertical-align: middle;
				    margin-right: 10px;
				}
		    }
		}
		a{
			color: @color-white;
			font-style: italic;
			display: block;
			text-decoration: none !important;
			&:hover{
				background-color: rgba(255,255,255,0.8);
				color: @color-text-purple-darker;
				color: @color-text-purple-darker;
				text-decoration: none !important;
				ul{
					display: block !important;
				}
			}
			span{
				padding: 15px;
				display: block;
			}
		}
		ul{
			position: absolute;
			color: @color-text-grey;
			background-color: @color-white;
			z-index: 100;
			min-width: 140px;
			display: none;
			li{
				display: block;
				padding: 10px 15px;
				cursor: pointer;
					&:hover{
						background-color: @color-primary-dark;
						color: @color-white;
					}
				a{
					color: @color-text-grey;
					font-style: normal;
					display: block;
					padding: 10px 15px;
					&:hover{
						background-color: @color-primary-dark;
						color: @color-white;
					}
				}
			}
		}
	}
}
.quicktab-container{
	position: relative;
	.quicktabs-toggle-buttons{
		padding-left: 0px;
		padding-right: 0px;
		margin-top: 30px;
		.quicktabs-toggle{
			height: 40px;
			width: 40px;
			overflow: hidden;
			background-color: @color-primary-dark;
			display: inline-block;
			cursor: pointer;
			margin-right: 10px;
			background: url('../images/icons/closed-filters.png') no-repeat;
			padding-left: 40px;
		}
		.toggle-alpha-pager{
			height: 40px;
			width: 40px;
			overflow: hidden;
			background-color: @color-primary-dark;
			display: inline-block;
			cursor: pointer;
			background: url('../images/icons/open-alphabet.png') no-repeat;
			padding-left: 40px;
		}
		.quicktabs-filters-clear{
			height: 40px;
			width: 40px;
			overflow: hidden;
			background-color: @color-primary-dark;
			display: inline-block;
			cursor: pointer;
			background: url('../images/icons/open-filters.png') no-repeat;
			padding-left: 40px;
		}
	}
}

//only for national and sectorial partners
.page-sectorial-social-partners,
.page-national-partners,
.page-irat-network{
	.quicktabs-tabs{
		li{
			a{
				border-left: none; 
			}
		}
	}
	.quicktabs-tabs-container{
		margin-top: 30px;
		.quicktabs-tabs {
			li{
				a{
					padding: 15px 20px 15px 20px;
					margin: 0px;
				}
			}
		}
	}
	.quicktabs-tabpage {
		.hwc-alphabet-container{
			margin-right: 0px;
			margin-left: 0px;
			text-transform: uppercase;
			display: inline-block;
			background-color: @color-primary-dark;
			padding: 15px;
			position: absolute;
			top: 30px;
			left: 65px;
			overflow: hidden;
			display: none;
			.hwc-char-link{
				margin: 0px 0px;
				padding: 5px 8px;
				color: @color-white;
				width: 16%;
				text-align: center;
				display: inline-block;
				&:hover{
					background-color: @color-primary;
					color: @color-primary-dark;
					text-decoration: none;
				}
			}
			.hwc-char-link:visited{
				color: green;
			}
			.toggle-alpha-pager{
				width: auto;
				display: inline-block;
				float: right;
			}
		}
		div[id ^= "hwc-char-"]{
			color:@color-text-purple-darker;
			font-family: "Oswald";
			font-size: @font-size2-2;
			text-transform: uppercase;
			background-color: @color-primary;
			margin: 30px 0px 0px 0px;
    		padding: 15px 30px 0px 30px;
		}
		.quicktabs-views-group{
			background-color: @color-primary;
			padding: 0px 30px;
			margin: 0px 0px;
			
			.views-field.views-field-nothing{
				border-top: 2px solid @color-primary-dark;
				padding: 30px 15px;
				padding-left: 0px;
				overflow: hidden;
				.col-sm-2{
					padding-left: 0px;
				}
				.field-name-field-country{
					background-color: inherit;
					margin: 0px;
					padding: 0px;
					font-style: normal !important;
					font-size: 1em;
				}
				.hwc-alpha-pager-view-title-field{
					h3{
						margin-top: 10px;
						font-size: @font-size1-4;
						a{
							color: @color-text-grey;
							font-weight: bold;
						}
					}
				}
				.partner-content-label{
					display: table-cell;
				    text-align: center;
				    width: 25%;
				    margin-top: 25px;
				    border-right: 2px solid @color-primary-dark;

					label{
						display: block;
						color: @color-text-purple-darker;
						min-height: 40px;
					    line-height: 16px;
					    font-weight: normal;
					}
					span{
						display: block;
						color: @color-text-purple-darker;
						font-size: @font-size2-2;
					    line-height: 16px;
					    font-weight: bold;
					}
				}
				.partner-content-label:first-child{
					border-left: 2px solid @color-primary-dark;
				}
			}
		}
	}
}
.page-irat-network{
	.hwc-alphabet-container{
		display: none;
	}
}

/*Spain improvement
****************************/
.page-taxonomy-term-40.page-country-profile{
	.col-sm-4.partner-image-container,
	.col-sm-8.partner-text-container{
		width: 100% !important;
	}
	.partners-no-2 {
		border-bottom: none;
		margin-bottom: 0px;
		.country-partner-wrapper div[id^="mini-panel-partner_in_country"] {
			.panels-flexible-row-new-1-inside > div {
	    	width: 100%;
	    	}
	    	h2{
				padding-bottom: inherit !important;
	    	}
	    }
	}

	div[data-partner-nid*="91"]{
		.col-sm-8.partner-text-container{
			margin-top: 0px;
			width: 100%;
		}
	}
}


/*Private zone
*****************************************************/

//menu
.menu-name-menu-private-zone{
    position: relative;
	ul.menu{
		display: inherit;
		padding-left: 0px;
		padding-right: 0px;
		width: 750px;
		position: relative !important;
		.slick-list{
			padding: 0px !important;
		}
		.slick-track{
			> li{
				text-align: center;
	    		display: table-cell;
	    		> div{
	    			width: 140px;
					height: 140px;
					border-radius: 50%;
					padding: 0px;
	    			padding-top: 10px;
	    			margin-bottom: 12px;
		    		&:hover{
		    			background-color: rgba(255, 255, 255, 0.7);
		    			img{
		    				-webkit-filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(231deg) saturate(200%) contrast(0.8);
		    				filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(231deg) saturate(200%) contrast(0.8);
		    			}
		    			.introduction-title{
			    			a{
			    				color: @color-primary-dark;
			    			}
		    			}
		    		}
					.introduction-image{
						img{
							max-width: 40%;
							margin-bottom: 10px;
							margin: 0 auto;
							text-align: center;
							cursor: pointer;
						}
					}
					.introduction-title{
						a{
							color: white;
							font-style: italic;
							text-decoration: none;
							cursor: pointer;
						}
					}
				}
				ul.submenu-items{
					list-style: none;
					a{
						background-color: white;
					    vertical-align: middle;
					    display: table-cell;
					    height: 40px;
					    width: 140px;
					    border-radius: 5px;
					    font-style: italic;
					    padding-top: 2px;
					    padding-bottom: 2px;
					    font-size: 0.9em;
					    line-height: 16px;
					    text-decoration: none;
					    opacity: 0.8;
					    &:hover{
					    	opacity: 1;
					    	color: @color-text-purple-darker;
					    }
					}
				}
			}
		}
		.slick-prev{
			background: url("../images/icons/menu-arrow-left.png") @color-primary-dark center no-repeat;
			height: 100%;
		    max-width: 35px;
		    overflow: hidden;
		    padding-left: 35px;
		    border: none;
		    position: absolute;
		    left: 0;
		    top: 0;
		    background-color: @color-primary-dark;
		    outline: none;
		    z-index: 2;
		}
		.slick-next{
			background: url("../images/icons/menu-arrow-right.png") @color-primary-dark center no-repeat;
			height: 100%;
		    max-width: 35px;
		    overflow: hidden;
		    padding-left: 35px;
		    border: none;
		    position: absolute;
		    right: 0;
		    top: 0;
		    background-color: @color-primary-dark;
		    outline: none;
		    z-index: 2;
		}
	}
}

.node-form{
	#edit-field-image--2, 
	#edit-field-private-image--2, 
	#edit-field-private-file--2{
		.image-widget-data,
		.file-widget{
			display: block;
			float: none;
			clear: both;
			.form-file{
				width: 60%;
				display: inline-block;
			}
			input[type="file"] {
			    -webkit-appearance: none;
			    -moz-appearance: none;
			    appearance: none;
			    &:before{
			    	content: "Select file";
				    background-color: @color-see-more;
				    color: white;
				    padding: 3px 43px;
				    position: absolute;
				    height: 25px;
				    cursor: pointer;
				}
			}
			button{
				padding: 7px 15px;
				vertical-align: top;
				border: none;
				border-radius: 0px;
				background-color: @color-primary-dark;
				color: white;
			}
			textarea{
				width: 40%;
				height: 36px;
			}
		}
	}
}

//add promotional materials
.page-node-add-promotional-material{
	.date-no-float{
		max-width: 250px;
	}
}

//collaboration page
.page-node-collaboration-area{
	.page-promotional-materials-search{
		.menu-name-menu-collaboration{
			ul{
				li{
					width: 50%;
					margin-bottom: 30px;
				}
			}
		}
	}
}

/*End private zone*/


}

//this is only to adjust filters to the correct position

@media only screen and (min-width: 976px) and (max-width : 991px) {
	.quicktabs-tabs-container{
		left: 11%;
	}
}
@media only screen and (min-width: 954px) and (max-width : 975px) {
	.quicktabs-tabs-container{
		left: 10%;
	}
}
@media only screen and (min-width: 930px) and (max-width : 953px) {
	.quicktabs-tabs-container{
		left: 9%;
	}
}
@media only screen and (min-width: 908px) and (max-width : 929px) {
	.quicktabs-tabs-container{
		left: 8%;
	}
}
@media only screen and (min-width: 888px) and (max-width : 907px) {
	.quicktabs-tabs-container{
		left: 7%;
	}
}
@media only screen and (min-width: 869px) and (max-width : 887px) {
	.quicktabs-tabs-container{
		left: 6%;
	}
}
@media only screen and (min-width: 850px) and (max-width : 868px) {
	.quicktabs-tabs-container{
		left: 5%;
	}
}
@media only screen and (min-width: 833px) and (max-width : 849px) {
	.quicktabs-tabs-container{
		left: 4%;
	}
}
@media only screen and (min-width: 815px) and (max-width : 832px) {
	.quicktabs-tabs-container{
		left: 3%;
	}
}
@media only screen and (min-width: 768px) and (max-width : 814px) {
	.quicktabs-tabs-container{
		left: 2%;
	}
}


//this is only to adjust filters to the correct position

@media only screen and (min-width: 976px) and (max-width : 991px) {
	.page-sectorial-social-partners,
	.page-national-partners{
		.quicktabs-tabs-container{
			left: 13%;
		}
	}
}
@media only screen and (min-width: 954px) and (max-width : 975px) {
	.page-sectorial-social-partners,
	.page-national-partners{
		.quicktabs-tabs-container{
			left: 12%;
		}
	}
}
@media only screen and (min-width: 930px) and (max-width : 953px) {
	.page-sectorial-social-partners,
	.page-national-partners{
		.quicktabs-tabs-container{
			left: 11%;
		}
	}
}
@media only screen and (min-width: 908px) and (max-width : 929px) {
	.page-sectorial-social-partners,
	.page-national-partners{
		.quicktabs-tabs-container{
			left: 10%;
		}
	}
}
@media only screen and (min-width: 888px) and (max-width : 907px) {
	.page-sectorial-social-partners,
	.page-national-partners{
		.quicktabs-tabs-container{
			left: 9%;
		}
	}
}
@media only screen and (min-width: 869px) and (max-width : 887px) {
	.page-sectorial-social-partners,
	.page-national-partners{
		.quicktabs-tabs-container{
			left: 8%;
		}
	}
}
@media only screen and (min-width: 850px) and (max-width : 868px) {
	.page-sectorial-social-partners,
	.page-national-partners{
		.quicktabs-tabs-container{
			left: 7%;
		}
	}
}
@media only screen and (min-width: 833px) and (max-width : 849px) {
	.page-sectorial-social-partners,
	.page-national-partners{
		.quicktabs-tabs-container{
			left: 6%;
		}
	}
}
@media only screen and (min-width: 815px) and (max-width : 832px) {
	.page-sectorial-social-partners,
	.page-national-partners{
		.quicktabs-tabs-container{
			left: 5%;
		}
	}
}
@media only screen and (min-width: 788px) and (max-width : 814px) {
	.page-sectorial-social-partners,
	.page-national-partners{
		.quicktabs-tabs-container{
			left: 4%;
		}
	}
}
@media only screen and (min-width: 768px) and (max-width : 787px) {
	.page-sectorial-social-partners,
	.page-national-partners{
		.quicktabs-tabs-container{
			left: 2%;
		}
	}
}