/**OiRA revamp pagination style - 2 colours required**/
@mixin paginationStyle($lightColor, $darkColor){
  ul.pagination{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
    &   > li{
      min-width: 35px;
      min-height: 35px;
      text-align: center;
      &:focus{
        background: transparent;
        outline: none;
        box-shadow: $darkColor;
      }
      span, a{
        background: $bg-color-white;
        border-radius: 15px;
        color: $darkColor;
        border: none;
        text-align: center;
        font: {
          weight: bold;
          style: normal;
          size: 0.9rem;
        }
        &:hover{
          background: $lightColor;
          border-radius: 25px;
          color: $darkColor;
          span{
            background: transparent;
          }
        }
      }
      &.active{
        span.page-link, a{
          background: $lightColor;
          border-radius: 25px;
          color: $darkColor;
          &.page-link{
            border: none;
          }
        }
      }
      &[role="presentation"]{
        span.page-link--ellipses{
          &:hover{
            background: transparent;
          }
        }
      }
    }
  }
}

/**Style with blue right (>) icon - bg color, bg position, main color icon url and padding left and right required**/
@mixin blueRightIcon ($bgColor, $bgPosition, $icon, $mainColor, $paddingLeft, $paddingRight){
  a{
    place-self: end;
    cursor: pointer;
    text-decoration: none;
    padding: {
      left: $paddingLeft;
      right: $paddingRight;
    }
    color: $mainColor;
    font : {
      size: 0.85rem;
      weight: bold;
      style: normal;
    }
    background: {
      color: $bgColor;
      image: $icon;
      repeat: no-repeat;
      position: $bgPosition;
      size: 8px;
    }
    &:before{
      content: "";
    }
    &:hover{
      text-decoration: underline;
    }
  }
}

