@media print {
  img {
    display: none;
  }
  h1, h2, h3, h4, h5, .description, a, span {
    color: black !important;
    text-decoration: none !important;
    text-underline-color: transparent;
  }
  h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  h3 {
    font-size: 1.15rem;
  }
  h4 {
    font-size: 1.1rem;
  }
  h5 {
    font-size: 1.05rem;
  }
  time {
    font-size: 0.9rem;
  }
  body, body.toolbar-fixed.toolbar-tray-open, body.user-logged-in, body.toolbar-fixed {
    padding-top: 0px !important;
  }
  #header, header, body.toolbar-fixed.toolbar-tray-open #header, body.user-logged-in #header {
    padding-top: 0px !important;
    position: static;
  }
  header .top-header-container {
      .top-header-content .region-top-header-logos {
        img {
          display: block;
          -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
          filter: grayscale(100%);
        }

        #block-logooira .field--name-field-image {
          padding: 0px;
        }

        #block-logoosha .field--name-field-image {
          padding: 0px;
          border-left: none;
        }
      }
      .region-wrapper{
        display: none;
      }
    }

  .copyright {
    display: none;
  }
  .see-less, .see-more {
    display: none;
  }
  .col-md-3, .col-md-4, .col-md-6, .col-9, col-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .page-view-frontpage {
    header{
      .top-header-container{
        min-width: 0px !important;
        padding: 0px;
        margin: 0px 15px;

      }
    }
    .home-intro {
      padding: {
        top: 0.75rem;
        bottom: 0.75rem;
      }
      margin: {
        left: 15px;
        right: 15px;
      }
    }

    .content-home {
      padding: 0.75rem 0rem;
    }

    .view-id-home_page_banners > .view-content-row, .home-boxes, .views-view-grid > .row {
      display: flex;
      flex-direction: column;
    }

    .content-oira-profiles .views-field-title {
      font-weight: bold;
    }

    .content-oira-tools {
      .views-item-columns-container {
        &.field--type-entity-reference {
          margin-bottom: 0rem;
        }

        h3 {
          margin-bottom: 0rem !important;
        }

        .partner-inner-group--data h4 {
          font: {
            size: 1rem;
            weight: normal;
          }
        }
      }

    }

    .content-latest-news .col-sm-12 {
      margin-bottom: 15px;
    }
    .home-slider,
    .header-menu-news,
    .header-blocks,
    .content-oira-partners,
    .views-field-field-tool-link,
    .see-more,
    .more-link,
    .materials-content-wrapper img{
      display: none !important;
    }
  }
  body.node--type-article{
    .fix-paddings{
      padding: 0px;
    }
    #block-menupagermainnavigation{
      display: none;
    }
  }
  body.page-view-news{
    .container{
      min-width: unset !important;
    }
    .view-content.row{
      padding-left: 30px;
    }
    .news__image, .pagerer-container, .view-footer{
      display: none;
    }
  }
}
