#navbar {
  position: relative;
}

.site__header {
  display: flex;
  flex-direction: column;
}

.navbar-brand {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: $text-color-blue;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: $font-weight-bold;
  &:hover {
    color: $text-color-blue;
    text-decoration: underline;
  }
}

.top-header-content{
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: start;
  .region-top-header-logos {
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: auto;
    margin: 0;
    #block-logoosha, #block-logooira{
      display: flex;
      align-items: flex-end;
      & > div.content{
        height: 100%;
        display: grid;
        & > div{
          & > div{
            & > .field__item{
              img{
                min-height: 40px;
                max-height: 40px;
                min-width: 100%;
              }
              &:nth-child(2){
                img{
                  min-height: 30px;
                  max-height: 30px;
                  max-width: 50px;
                }
              }
            }
          }
        }
      }
    }
    #block-logoosha{
      & > div.content{
        & > div{
          & > div{
            & > .field__item:first-of-type{
              border-left: 1px solid $bg-color-blue-dark;
            }
          }
        }
      }
    }
    #block-logooira{
      & > div.content{
        & > div{
          & > div{
            & > .field__item:first-of-type{
              padding-right: 1rem;
            }
          }
        }
      }
    }
    .field--name-field-image {
      display: flex;
      margin: 0;
      align-items: flex-end;
      > .field__item {
        &:first-child{
          img{
            margin: 0;
            object-fit: contain;
          }
        }
        &:last-child {
          img{
            max-height: 37px;
            margin: 0;
            object-fit: contain;
          }
        }
        a {
          cursor: default;
        }
      }
    }
  }
  .region-medium-header-logos {
    margin: 0 auto;
  }
  .region-wrapper {
    margin: 0;
  }
  .header-logo{
    .logo-eu, .logo-oira{
      margin-left: 40px;
    }
  }
  .header-menu-news {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .header-blocks {
    display: block;
    margin-left: 45px;
    /* Social media */
    .region-header-form{
      display: grid;
      grid-template-areas:
            "printsize socialmedia"
            "search search"
            "lang lang";
      #block-headerprintandfontsize{
        grid-area: printsize;
        .field--type-text-with-summary{
          display: flex;
          flex-direction: row;
          .block__font-size {
            span a {
              cursor: pointer;
              color: $text-light-light-blue;
              font-style: normal;
              font-weight: 500;
              line-height: 1;
              &:hover {
                text-decoration: underline;
              }
            }
            .a_small {
              a {
                font-size: 1rem;
                padding-right: 5px;
              }
            }
            .a_medium{
              a{
                font-size: 1.35rem;
                padding-right: 5px;
              }
            }
            .a_big {
              a {
                font-size: 2rem;
              }
            }
          }
          .block__print {
            margin-left: 8px;
            a.print-friendly {
              background: {
                image: url(../images/print-icon.png);
                repeat: no-repeat;
                position: 50% 100%;
              }
              width: 30px;
              height: 27px;
              display: block;
            }
          }
        }
      }
      #block-socialmenu{
        grid-area: socialmedia;
        place-self: end;
      }
    }
  }
}
#navbar-main{
  display: grid;
  grid-template-columns: auto 0px 1fr;
  .responsive-menu-oira{
    display: flex;
    gap: 1rem;
    #block-generalsearch-api{
      display: grid;
      grid-area: search;
      & > .content{
        place-self: center;
        .block-search-form-block {
          .form-row{
            display: grid;
            grid-template-columns: auto 30px;
            grid-template-rows: auto;
            width: max-content;
            height: 30px;
            max-height: 30px;
            border: transparent solid 0px;
            border-radius: 4px;
            fieldset{
              input.form-control{
                padding: 2px 3px;
                border-radius: 4px;
                border: none;
                width: inherit;
                min-width: 100%;
                margin: 0px;
                height: 30px !important;
                max-height: 28px !important;
                font-size: 0.8rem;
              }
            }
            #edit-actions{
              width: 30px;
              height: 30px;
              padding: 0px;
              .btn-primary{
                cursor: pointer;
                border-radius: 0px;
                border: none;
                width: 30px;
                height: 30px;
                background: url("../images/magnifying-glass-white.png") no-repeat !important;
                background-position: 50% 50% !important;
                font-size: 0; //hide button text
              }
            }
          }
        }
      }
    }
    #block-languagedropdownswitcher{
      grid-area: lang;
      margin-bottom: 0px;
      #lang_dropdown_form_lang-dropdown-form {
        .form-type-select {
          margin: 0;
          &.mb-3, &.my-3{
            margin-bottom: 0px !important;
          }
          /**Language select**/
          #edit-lang-dropdown-select{
            border: none;
            border-radius: 4px;
            height: 30px;
            padding: 2px 3px;
            background: transparent url(../images/select-arrow.svg) no-repeat !important;
            background-position: 97% 50% !important;
            color: $text-color-white;
            width: 120px !important;
            font-size: 0.8rem;
            font-weight: $font-weight-normal;
            -webkit-appearance: none;
            appearance: none;
            option{
              background: $bg-color-blue-light;
              &[selected=selected]{
                color: $text-color-black;
              }
            }
          }
        }
        .language-icon {
          display: none !important;
        }
      }
    }
  }
}

.region-wrapper {
  display: flex;
  justify-content: flex-end;
}

/* Hide menu link to view only the Share links images in header */
#block-socialmenu{
  > ul{
    margin: 0 0 7px;
    padding: 0;
    list-style: none;
    display: flex;
    li {
      margin-left: 10px;
      .field--type-image,
      .field--type-entity-reference,
      img {
        margin: 0;
      }
      > a{
        display: none;
      }
    }
  }
}

/*** Stiky header ***/
body {
  padding-top: 189px;
}

body.user-logged-in {
  /*padding-top: 185px;*/
  padding-top: 215px;
}

body.toolbar-fixed {
  padding-top: 150px !important;
  #header {
    padding-top: 40px;
  }
  &.toolbar-tray-open {
    padding-top: 264px !important;
    #header {
      padding-top: 75px !important;
    }
  }
}

#header {
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: top 0.6s linear;
  top: 0px !important;
  background: white;
}

.scrolldown.scrolled {
  #header {
    position: fixed;
    top: -23rem !important;
    transition: all 0.6s;
    z-index: 10;
    width: 100%;
  }
}


#block-generalsearch-api {
  .views-exposed-form {
    .form-row {
      flex-wrap: nowrap;
      margin: 0;
      .form-group {
        width: auto;
        margin-right: 0;
        margin-bottom: 0;
      }
      .form-actions {
        margin: 0;
        cursor: pointer;
      }
    }
  }
}

#block-languagedropdownswitcher{
  #lang_dropdown_form_lang-dropdown-form{
    .form-type-select{
      &.mb-3, .my-3{
        margin-bottom: 0px;
      }
    }
  }
}

@media only screen and (min-width: 576px){
  #navbar-main{
    .responsive-menu-oira{
      #block-generalsearch-api{
        & > .content{
          .block-search-form-block {
            .form-row {
              width: 310px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px){
  .top-header-content{
    .region-top-header-logos {
      display: flex;
      #block-logooira{
        div.content{
          & > div{
            & > div{
              .field__item:first-of-type{
                padding-right: 0px;
                .field--type-image{
                  margin: 0px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  #navbar-main{
    grid-template-columns: 100%;
  }
  .top-header-content{
    padding-bottom: 0px;
    .region-top-header-logos{
      gap: 1rem;
      #block-logoosha, #block-logooira{
        display: flex;
        align-items: flex-end;
        & > div.content{
          height: 100%;
          display: grid;
          & > div{
            & > div{
              & > .field__item{
                img{
                  min-height: 60px;
                  max-height: 60px;
                  min-width: 100%;
                }
              }
            }
          }
        }
      }
      #block-logooira{
        div.content{
          & > div{
            & > div{
              .field__item:first-of-type{
                padding: {
                  right: 0px;
                  top: 1.5rem;
                  bottom: 1.5rem;
                }
              }
            }
          }
        }
      }
      #block-logoosha{
        & > div.content{
          & > div{
            & > div{
              & > .field__item:first-of-type{
                padding: 1.5rem 1rem;
              }
            }
          }
        }
      }
    }
    .header-blocks {
      display: block;
      margin-left: 45px;
      /* Social media */
      .region-header-form {
        display: grid;
        grid-template-areas:
            "printsize socialmedia"
            "search search"
            "lang lang";
        #block-headerprintandfontsize{
          grid-area: printsize;
          .field--type-text-with-summary{
            display: flex;
            flex-direction: row;
            .block__font-size {
              span a {
                cursor: pointer;
                color: $text-light-light-blue;
                font-style: normal;
                font-weight: 500;
                line-height: 1;
                &:hover {
                  text-decoration: underline;
                }
              }
              .a_small {
                a {
                  font-size: 1rem;
                  padding-right: 5px;
                }
              }
              .a_medium{
                a{
                  font-size: 1.35rem;
                  padding-right: 5px;
                }
              }
              .a_big {
                a {
                  font-size: 2rem;
                }
              }
            }
            .block__print {
              margin-left: 8px;
              a.print-friendly {
                background: {
                  image: url(../images/print-icon.png);
                  repeat: no-repeat;
                  position: 50% 100%;
                }
                width: 30px;
                height: 27px;
                display: block;
              }
            }
          }
        }
        #block-socialmenu{
          grid-area: socialmedia;
          place-self: end;
        }
        #block-generalsearch-api{
          grid-area: search;
          margin-bottom: 0.5rem;
          .block-search-form-block {
            .form-row{
              display: grid;
              grid-template-columns: auto 30px;
              grid-template-rows: auto;
              width: 310px;
              height: 30px;
              max-height: 30px;
              border: 1px solid $bg-color-blue-dark;
              border-radius: 4px;
              fieldset{
                display: block;
                min-width: 100%;
                height: 30px;
                max-height: 30px;
                padding: 0px;
                input.form-control{
                  padding: 2px 3px;
                  border-radius: 4px 0px 0px 4px;
                  border: none;
                  width: inherit;
                  min-width: 100%;
                  margin: 0px;
                  height: 30px !important;
                  max-height: 28px !important;
                  font-size: 0.8rem;
                }
              }
              #edit-actions{
                width: 30px;
                height: 30px;
                padding: 0px;
                .btn-primary{
                  cursor: pointer;
                  border-radius: 0px 4px 4px 0px;
                  border: none;
                  width: 30px;
                  height: 30px;
                  background: $bg-color-purple-dark url(../images/magnifying-glass-white.png) no-repeat !important;
                  background-position: 50% 50% !important;
                  font-size: 0; //hide button text
                }
              }
            }
          }
        }
        #block-languagedropdownswitcher{
          grid-area: lang;
          margin-bottom: 6px;
          #lang_dropdown_form_lang-dropdown-form {
            .form-type-select {
              margin: 0;
              /**Language select**/
              #edit-lang-dropdown-select{
                border: 1px solid $bg-color-blue-dark;
                border-radius: 4px;
                height: 30px;
                padding: 2px 3px;
                background: $bg-color-purple-light-opacity url(../images/arrow-down-sm-dark-purple.png) no-repeat !important;
                background-position: 97% 50% !important;
                color: $text-grey;
                width: 310px !important;
                font-size: 0.8rem;
                font-weight: $font-weight-normal;
                -webkit-appearance: none;
                appearance: none;
              }
            }
            .language-icon {
              display: none !important;
            }
          }
        }

      }
    }
  }
}
