/* Related content */

#mini-panel-related_content {
    display: table;
    table-layout: fixed;
    width: 100%;
}
#mini-panel-related_content > div {
    display: table-row;
}
#mini-panel-related_content > div  .panels-flexible-column {
    display: table-cell;
    padding: 15px 30px;
}

.article-content-container {
    max-width: 80rem;
    margin: 0 auto;
}


ul.nav > li.dropdown {
    vertical-align: bottom;
}
ul.nav > li.dropdown:hover ul.dropdown-menu {
    display: block;
}
ul.nav li.dropdown ul.dropdown-menu {
    margin-top: 0;
}

#lang_dropdown_form_language label {
    display: none;
}